<title-page text="Produtos em Estoque"></title-page>

<main class="container">
    <mat-card>
        <mat-list *ngIf="simpleReqProdutos | async as produtos">
            <ng-container *ngIf="produtos && produtos.length > 0; else withoutProdutos">
                
                    <mat-list-item *ngFor="let produto of produtos" class="list-item">
                        <a (click)="toPageEditProduto(produto)">
                            <mat-icon matListIcon>edit</mat-icon>
                        </a>
                        <a (click)="deleteProduto(produto)">
                            <mat-icon matListIcon>delete</mat-icon>
                        </a>
                        <h3 matLine class="descricao-produto" (click)="toPageEditProduto(produto)"> {{produto.descricao}} </h3>
                        <p matLine>
                            <span class="info-produto">
                                Última Atualização: {{produto.data_update | date:'dd/MM/yyyy'}} - {{produto.quantidade}} Unid.
                            </span>
                        </p>
                    </mat-list-item>
            </ng-container>
            <ng-template #withoutProdutos>
                    <mat-list-item >
                        <p matLine> Não há nenhum produto cadastrado. </p>
                    </mat-list-item>
            </ng-template>
        </mat-list>
    </mat-card>

    <button routerLink="/editar_produto" mat-fab class="fab-btn" color="primary">
        <mat-icon matListIcon>add</mat-icon>
    </button>

</main>