.container{
    padding: 25px 50px;
}

a mat-icon{
    color: black;    
    cursor: pointer;
}

a mat-icon:hover{
    color: #27c1bf;
}

.descricao-produto{
    font-weight: 500 !important;
    cursor: pointer;
}

.info-produto{
    font-size: 0.8em;
}

.fab-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(255, 166, 0);
    color: white;
}

.list-item{
    background-color: white;
    min-width: 400px;
    color: #707070;
}

.list-item:hover{
    background-color: rgb(220, 232, 255);
}