.container{
    padding: 25px 50px;
}

#table-produtos{
    width: 100%;
}

tr span{
    display: block;
    font-size: 0.8em;
}

a mat-icon{
    color: black;    
}

a mat-icon:hover{
    color: #27c1bf;
    cursor: pointer;
}

