<div class="container">
    <h1>Produtos em Estoque</h1>

    <mat-list>
        <mat-list-item *ngFor="let produto of produtos" class="list-item">
            <mat-icon matListIcon>edit</mat-icon>
            <mat-icon matListIcon>delete</mat-icon>
            <h3 matLine class="descricao-produto"> {{produto.descricao}} </h3>
            <p matLine>
                <span class="info-produto">
                    Término: {{produto.termino}} - {{produto.quantidade}} Unid.
                </span>
            </p>
        </mat-list-item>
    </mat-list>

    <button mat-fab class="fab-btn" color="primary">
        <mat-icon matListIcon>add</mat-icon>
    </button>
</div>