@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

.gradient-background{
    width: 110%;
    height: 160px;

    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);

    margin-top: -70px;
    margin-left: -10px;
    position: absolute;
    z-index: 99;
    
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

h1{
    margin-left: 25px;
    position: absolute;
    z-index: 100;

    font-size: 2.1em;
    font-weight: 500;
    color: white;

    font-family: 'Titillium Web', sans-serif;
}

br{
    content: '';
    margin-bottom: 130px;
    display: block;
}

@media (max-width: 450px){

    h1{
        font-size: 1.9em;
    }

    br{
        margin-bottom: 105px;
    }
}

