<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 

* {
    font-family: 'Roboto', sans-serif,
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FAFAFA;
}

.container{
    margin: 25px 50px;
}